#services {
  padding: 33px 0;
  .services {
    box-shadow: 0px 4px 20px 0px #00000026;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
    position: relative;
    .service1 {
      max-width: 230px;
      .circle {
        width: 92px;
        height: 92px;
        border-radius: 50%;
        background: #e9e9ec;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h4 {
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        margin: 24px 0 14px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #6b6b6c;
      }
    }
    .hr {
      border: 1px solid #d7d7dd;
      width: 260px;
      position: absolute;
      transform: rotate(90deg);
    }
    .hr-1 {
      left: 50%;
      transform: translate(-130%, 0) rotate(90deg);
    }
    .hr-2 {
      right: 50%;
      transform: translate(130%, 0) rotate(90deg);
    }
  }
  @media (max-width: 1150px) {
    .hr {
      display: none;
    }
  }
  @media (max-width: 970px) {
    .services {
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      gap: 30px;
      max-width: 600px;
      .service1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
          text-align: center;
        }
        p {
          text-align: center;
        }
      }
    }
  }
  @media (max-width: 550px) {
    .services {
      padding: 40px 20px;
    }
  }
}
