#steps {
  padding: 33px 0px;
  .steps {
    h1 {
      font-size: 48px;
      font-weight: 600;
      line-height: 60px;
      color: #363738;
      margin-bottom: 48px;
    }
    .cards {
      .steps__card {
        display: flex;
        gap: 56px;
        box-shadow: 0px 4px 15px 0px #0000001f;
        padding: 32px 92px;
        border-radius: 10px;
        margin-bottom: 24px;
        .text__box {
          h6 {
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
            color: #363738;
          }
          .div {
            margin: 24px 0;
            border: 2px solid #ffce50;
            width: 86px;
          }
          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #6b6b6c;
            max-width: 560px;
          }
        }
      }
    }
  }
  @media (max-width: 850px) {
    .steps {
      .steps__card {
        padding: 30px !important;
      }
    }
  }
  @media (max-width: 750px) {
    .steps {
      h1 {
        font-size: 36px;
        text-align: center;
      }
      .steps__card {
        flex-direction: column;
        gap: 30px !important;
      }
    }
  }
  @media (max-width: 700px) {
    .steps .cards .steps__card {
      padding: 30px 10px !important;
      .text__box p {
        font-size: 14px;
        text-align: center;
        margin-top: 16px;
      }
      h6 {
        text-align: center;
      }
      .div {
        display: none;
      }
    }
  }
}
