#team {
  padding: 70px 0;
  .team {
    h1 {
      font-size: 48px;
      font-weight: 600;
      line-height: 60px;
      margin-bottom: 70px;
    }
    &__box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      row-gap: 24px;
      .team__card {
        padding: 32px 32px 40px 83px;
        box-shadow: 0px 4px 15px 0px #00000026;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        gap: 40px;
        .left {
          width: 51px;
          height: 100%;
          background: #0b7572;
          position: absolute;
          left: 0;
          top: 0;
          transform-origin: left;
          transform: scaleX(0);
          transition: all 0.3s linear;
        }
        &:hover {
          .left {
            transform: scaleX(1);
          }
        }
        &__text {
          h5 {
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            color: #363738;
          }
          p {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            color: #6b6b6c;
            margin: 12px 0 35px;
            padding-bottom: 12px;
            border-bottom: 3px solid #ffce50;
          }
          .social__network {
            display: flex;
            gap: 20px;
            align-items: center;
          }
        }
      }
    }
    .car {
      margin: 150px 0 70px;
      width: 100%;
    }
  }
  @media (max-width: 1100px) {
    .left {
      width: 30px !important;
    }
    .team__card {
      padding: 20px 30px 20px 50px !important;
      img {
        width: 16px;
      }
      .user {
        width: 90px;
      }
      p {
        margin: 12px 0 12px !important;
      }
    }
  }
  @media (max-width: 750px) {
    h1 {
      font-size: 36px !important;
      text-align: center;
      margin-bottom: 40px !important;
    }
    .team__box {
      grid-template-columns: 1fr;
      place-items: center;
      .team__card {
        max-width: 500px;
        width: 100%;
      }
    }
    .car {
      margin: 30px auto !important;
      border-radius: 8px;
    }
  }
  @media (max-width: 450px) {
    .left {
      width: 20px !important;
    }
    .team__card {
      padding-left: 24px !important;
      padding-right: 10px;
      width: 100% !important;
    }
  }
}
